#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/sources/vcs/projects/775b2cc5-f124-4d3a-b836-cf80d2dfb22c/master/m/product # 
title: CraftOnlineShopping
version: 1.0
mediaType: 
- application/json

annotationTypes:
  annotation: !include annotation.raml

documentation:
  - !include documentation.raml
uses:
  lai: library.raml
  
/product:
 get:
   description: To get list of products.
   responses:
     200:
       body:
         application/json:
           example: !include example/product.raml

 is: lai.traitesduplication 

 /{productID}:
  #  get:
  #   description: To returen one product.
  #   responses:
  #     200:
  #      body:
  #        application/json:
  #          type: productdatatype
  #          example: !include example/productID.raml
  type:
     lai.collection
  is: lai.traitesduplication 
/user:
  get:
   description: To return list of users.
   responses:
     200:
       body:
         application/json:
           example: !include example/users.raml
            
  is: lai.traitesduplication 
  put:
    responses:
      200:
        body:
          application/json:
            example:
              {
                message:"user updated"
              }   
  delete:
    responses:
      200:
        body:
          application/json:
            example:
              {
                message:"user information deleted"
              }                                 
  /{userID}:
    get:
      responses:
        200:
          body:
            application/json:
              type: lai.userdatatypes
              example: !include example/userID.raml
               
    is: lai.traitesduplication 
                         
  post:
    body:
      application/json:
        example:
          {
            user name:dawit,
            email:dawit@gmail.com
          }
    responses:
      201:
        description: user account successfuly created.
        body:
          application/json:
            example:
              {
                userid:1523
              }
    is: lai.traitesduplication 
      
/order:
  get:
   description: To return  list of products ordered.
   responses:
     200:
       body:
         application/json:
           example:
             {
               msg:"All products order"
             }  
  is: lai.traitesduplication 
  post:
    description: To send the order info to the server.
    responses:
      201:
         description: order complited.
       
/catagory:
 get:
   description: To return product by catagory ID.
   responses:
     200:
       body:
         application/json:
           example:
             {
               msg:"All products from this catagory"
             }  
 is: lai.traitesduplication 

